* {
  margin: 0;
  padding: 0;
}
.body {
  width: 1280px;
  height: 1626px;
}
.menu {
  text-align: center;
  margin: 25.5px;
}
li {
  display: inline;
  margin-left: 50px;
}
li:first-child {
  margin-left: 0;
}
li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #ff0000;
  font-weight: bold;
  font-weight: arial;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 3px;
}
.Picture {
  width: 1280px;
  height: 789px;
  margin: 25.5px auto;
}
.simplePhoto-title {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: 3.3px;
  text-transform: uppercase;
  text-align: center;
  color: #373737;
}
.simplePhoto {
  padding-top: 49px;
}
.simplePhoto-description {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 2.4px;
  margin: 38px 67.5px;
  color: #373737;
}
.subParagraph {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 2.4px;
  margin: 28px 67.5px;
  color: #373737;
}

.getStarted {
  background: #ff0000;
  border-radius: 4px;
  border: none;
  margin: 66px auto 42px;
  display: block;
}
.wrappButton {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 12px;
  align-items: center;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  color: #ffffff;
  display: inline-block;
  padding: 18px 44px 17px 43px;
}
.footer {
  text-align: right;
  margin-left: auto;
  margin-right: 105px;
  margin-top: 82px;
  margin-bottom: 29px;
}
.copyright {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  letter-spacing: 2.4px;
  color: #373737;
}
